# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.meta
projects/image-classification/cifar-10-batches-py/data_batch_1
*.p
projects/image-classification/preprocess_validation.p
projects/image-classification/cifar-10-python.tar.gz
projects/image-classification/cifar-10-batches-py/data_batch_5
projects/image-classification/cifar-10-batches-py/data_batch_2
projects/image-classification/cifar-10-batches-py/data_batch_4
projects/image-classification/cifar-10-batches-py/readme.html
projects/image-classification/cifar-10-batches-py/test_batch
*.data-00000-of-00001
projects/image-classification/cifar-10-batches-py/data_batch_3
